a{
	text-decoration: none;
	color:white;
}

a:hover{
	text-decoration: none;
	color:white;
}

a:active{
	text-decoration: none;
	color:white
}

a:visited{
	text-decoration: none;
	color:white;
}

#header{
	padding:0px;
	background-color:#6FCDE6;
}
#navbar-header{
	
}

h1{
	text-align: center;
}

.footer{
	position: fixed;
	bottom:0;
	width:100%;
	background-color:#6FCDE6;
	color: white;
}

.social{
	width: 50px;
	display: inline-block;
	margin-top:10px;
}

#license{
	font-size:7px;
}

